body {
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

input[type="file"] {
    margin-top: 20px;
}

input[type="submit"] {
    margin-top: 10px;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}
